<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
  </head>
  <body>
    <h1>Home</h1>

    <form action="/upload" method="get">
      <button>Upload File</button>
    </form>

    <a href="/folders">Folders</a>
  </body>
</html>
